*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    user-select: none;
    transition: all 0.3s;
    background-color: rgb(9, 9, 40);
}

a{
    color: chartreuse;
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid #ffffff;
}

img {
    position: relative;
    max-width: 40%;
    max-height: 40%;
    min-width: 10%;
    min-height: 10%;
    filter: drop-shadow(12px 16px 12px rgb(149, 193, 247));
    transition: 0.9s;
}

h1 {
    font-family: 'Segoe UI';
    color: red;
    padding: 20px;
    text-decoration: underline;
    text-shadow: 2px 1px rgb(105, 99, 190);
    border-radius: 10px 10px;
    background-color: rgb(9, 9, 50);
    transition: 0.3s;
}

h1:hover {
    background-color: black;
    color: greenyellow;
    padding: 40px;
    border-radius: 10px 10px 100px 100px;
}

.aboutus {
    font-family: 'Trebuchet MS';
    padding: 10px 20px;
    font-size: 19px;
    color: chartreuse;
    transition: 0.3s;
}

.aboutus:hover {
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 25px 25px;
    background-color: rgb(9, 9, 70);
    color: rgb(180, 255, 106);
}

.origaminav {
    font-family: 'Trebuchet MS';
    padding: 10px 20px;
    font-size: 18px;
    color: lightcoral;
    background-color: black;
    transition: 0.3s;
}

.origaminav:hover {
    color: black;
    background-color: lightcoral;
    font-size: 20px;
    border-radius: 25px 25px;
}

.followus {
    font-family: 'Trebuchet MS';
    padding: 10px 20px;
    font-size: 19px;
    color: chartreuse;
    transition: 0.3s;
}

.followus:hover {
    border-radius: 25px 25px;
    font-size: 25px;
    padding: 10px 30px;
    background-color: rgb(9, 9, 70);
}

.mainp{
    color: white;
    padding: 20px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.origamime {
    color: orange;
    font-weight: 300;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.origamime:hover {
    text-decoration: underline;
    font-size: large;
    font-weight: 400;
    color: rgb(255, 199, 95);
}

hr {
    color:white;
    margin: 10px;
}

